<div class="container">
  <%= render 'shared/authorcard', u: @user %>

     <div class="d-flex justify-content-center mt-2">
      <%#= link_to stories_path, class: "btn-dark-grey", style: "margin-top: 10px;" do %>
          <!-- <h3>follow</h3> -->
        <%# end %>
      <div>
        <div class="text-center">

          <h5><%= @my_followers.count %></h5>

        </div>
          <br>
        <%= link_to 'FOLLOWERS', '#', class: "special-btn m-1" %>
      </div>
      <div>
        <div class="text-center">
          <h5><%= @my_followings.count %></h5>
        </div>
        <br>
        <%= link_to 'FOLLOWING', '#', class: "special-btn m-1" %>
      </div>
      <div>
        <div class="text-center">
          <h5><%= @user.bookmarks.count %></h5>
        </div>
        <br>
        <%= link_to 'BOOKMARKS', bookmarks_path, class: "special-btn m-1" %>
      </div>


    </div>
    <br>
    <% @stories.each do |s| %>

    <%#= link_to 'Stories Setting', functionality_path(s.id) %>

      <%= render 'shared/smallcards', s: s %>


    <%# if s.user == current_user %>
      <%#= render "functionality", s: s %>
    <%# end %>
    <br>
    <% end %>

    <% if @user == current_user %>
      <%= link_to 'NEW STORY', new_story_path, class: "btn btn-white btn-mid", style: "width: 100%" %>
    <% end %>

</div>


