<h1>
  <%= @user.first_name %>
  <%= @user.last_name %>
</h1>

<% @stories.each do |s| %>
  <%#= link_to 'Stories Setting', functionality_path(s.id) %>
  <br>
  <%= s.title %>
  <%= link_to 'Show', s %>
  <br>
  <%= render "functionality", s: s %>
<% end %>
  
<%= link_to 'New Story', new_story_path, class: "btn-gold" %>
<br>
<%= link_to 'Back', stories_path %>



<%#= link_to 'Edit', edit_story_path(@story) %>
<%#= link_to 'Delete', story_path(@story), method: :delete, data: {confirm: "you sure mec?"} %>
