<div class="narrow-container authorcard">


    <div class="title mb-1">
      <h5>
      <%= u.first_name %>
      <%= u.last_name %>
      </h5>
    </div>
    <br>
    <div class="bio mb-0">
      <p class="mb-0">
        <%= u.bio %>
      </p>
    </div>

    <% unless current_user == u %>
      <%= link_to 'follow', followings_path(followable_id: u.id), class: "btn-dark-grey mt-3", method: :post%>
     <% end %>

    <div class="d-flex justify-content-center mt-2">
      <%#= link_to stories_path, class: "btn-dark-grey", style: "margin-top: 10px;" do %>
          <!-- <h3>follow</h3> -->
        <%# end %>
      <% unless controller.controller_name == "stories" && controller.action_name == "show"%>
          <%= link_to 'FOLLOWERS', bookmarks_path, class: "special-btn mr-2" %>
          <%#= @my_users_followers.count%>
      <% end %>

      <% unless controller.controller_name == "stories" && controller.action_name == "show"%>
          <%= link_to 'FOLLOWING', bookmarks_path, class: "special-btn mr-2" %>
          <%#= @my_users_followings.count%>
      <% end %>

      <%= link_to 'SAVED', bookmarks_path, class: "special-btn" %>
</div>
