<div class="narrow-container authorcard">


    <div class="title mb-1">
      <h5>
      <%= u.first_name %>
      <%= u.last_name %>
      </h5>
    </div>
    <br>
    <div class="bio mb-0">
      <p class="mb-0">
        <%= u.bio %>
      </p>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <%#= link_to stories_path, class: "btn-dark-grey", style: "margin-top: 10px;" do %>
        <!-- <h3>follow</h3> -->
      <%# end %>

     <% unless current_user == u %>
      <%= link_to 'follow', followings_path(followable_id: u.id), class: "btn-dark-grey", method: :post%>
     <% end %>

     <% unless controller.controller_name == "stories" && controller.action_name == "show"%>
        <h1>My followers</h1>
        <%= @my_users_followers.count%>

        <h1>My followings</h1>
        <%= @my_users_followings.count%>
        </div>
      <% end %>

      <%= link_to 'bookmarks', bookmarks_path, class: "btn-dark-grey"%>
</div>
