
<div class="mb-3">
  <% if s.images %>
    <% s.images.each do |image| %>
      <%= cl_image_tag image.data, width: "100%"  %>
    <% end %>
  <% end %>
</div>

<h1 class="mb-4"><%= s.title %></h1>
<p class="small_text">by <%= link_to "#{s.user.username}", user_path(s.user)  %></p>
<p class="small_text mb-4"><%= s.created_at.strftime("%B %e, %Y") %></p>
 <p class="mb-0">
  <% unless s.content.nil? %>
    <%= s.content.truncate(300) %>
    <% end %>
  </p>
<%= link_to 'READ MORE', story_path(s), class: "btn-dark-grey" %>

