
<%# image_tag @image.where(image.story == story) %>
<div class="mb-3">
  <% if s.images %>
    <% s.images.each do |image| %>
      <%= cl_image_tag image.data, width: "100%"  %>
    <% end %>
  <% end %>
</div>

<h1 class="mb-4"><%= s.title %></h1>
<h4 class="small_text">By <%= link_to "#{s.user.username}", user_path(s.user)  %><h4>
<h4 class="small_text mb-4"><%= s.created_at.strftime("%B %e, %Y") %></h4>
<p class="mb-0"><%= s.content.html_safe %></p>


