<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
      <% @images.each do |img| %>
      <div class="col">
        <%= cl_image_tag img.data, width: "100%", height: "auto"%>
        </div>
      <% end %>
      </div>
      <br><br>

      <%=  simple_form_for [@story, @image] do |f| %>
        <%= f.input :data %>
        <%= f.input :data_cache, as: :hidden %>
        <%= f.submit 'Add photo', class:"btn-dark-grey"%>
      <% end %>
      <br>
      <br>
      <br>

      <%= link_to "Done", story_path(@story), class:"btn-gold" %>

    </div>
  </div>
</div>
