<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Independent high-quality content. Journalists, artists, scientific platform that showcases multimedia content effectively and shares revenue with its members.">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://use.typekit.net/bil4cbt.css">
    <title>contramarca</title>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="contramarca" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://contramarca.herokuapp.com" />
    <meta property="og:image" content="contramarca.png" />
    <meta property="og:description" content="th=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Independent high-quality content. Journalists, artists, scientific platform that showcases multimedia content effectively and shares revenue with its members."/>
    <meta property="og:site_name" content="contramarca" />



  </head>
  <body>


    <% if controller.controller_name == "stories" && controller.action_name == "show"%>
      <%= render 'shared/navbar_author' %>
      <%= yield %>
    <% elsif controller.controller_name == "stories" && controller.action_name == "index" && user_signed_in? %>
      <%= render 'shared/navbar_logo' %>
      <%= yield %>
    <% elsif controller.controller_name == "stories" && controller.action_name == "search"%>
      <%= render 'shared/navbar_logo' %>
      <%= yield %>
    <% elsif current_page?('http://localhost:3000/') %>
    <%= yield %>
      <%= render 'shared/footer' %>
    <% elsif controller.controller_name == "stories" && controller.action_name == "new"%>
      <%= render 'shared/navbar_new' %>
      <%= yield %>
     <% elsif controller.controller_name == "stories" && controller.action_name == "edit"%>
      <%= render 'shared/navbar_new' %>
      <%= yield %>
    <% elsif controller.controller_name == "stories" && controller.action_name == "index" && !user_signed_in? %>
      <%= yield %>
    <% else %>
        <%= render 'shared/navbar_blank'  %>
        <%= yield %>
    <% end %>


    <%= render 'shared/flashes' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


  </body>
</html>
